header{
    display:flex;
    align-items:center;
    
}

.retour{
    margin-left:30px;
}

.logo{
    padding-right:50px;
}

/********* BODY INDEX ********/
body{
    font-family: 'roboto', sans-serif;
    color:#303030;
    background-color:#f6f6f6;
    margin: 0 auto;
    display:grid;
    grid-gap:0em;
    grid-template-rows: 0.02fr 0.3fr 0.15fr 0.2fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "mainMenus"
    "sectionMenus"
    "footer" 
}

.title{
    font-family:'Shrikhand', sans-serif;
}

/****************************** MENUS ******************************/

.img_menu{
    position: relative;
    width:100%;
    height:250px;
    z-index:1;
    overflow:hidden;
}

.img_menu img{
    width:100%;
    height:250px;
    overflow:hidden;
    object-fit:cover;
}

.desc_menu{
    position:relative;
    top:-70px;
    bottom:200px;
    width:100%;
    height:910px;
    z-index:2;
    border-radius:10vmin 10vmin 0vmin 0vmin;
    background-color:#f6f6f6;
}

.part{
    display:flex;
   /* justify-content: space-around;*/
    align-items:center;
}

.titreMenus{
    display:flex;
    justify-content: space-between;
    margin:20px;
}

.titreMenus i{
    padding-top:25px;
    padding-right:20px;
}
.mainMenus h5{
    width:40px;
    height:25px;
    border:solid;
    border-color:#99E2D0;
    color:#6b6b6b;
    border-top:none;
    border-left:none;
    border-right:none;
    margin-left:20px;
    margin-top:30px;
}

.mainMenus h4{
    font-weight:bold;
    margin-top:10px;
    margin-left:5px;
}

.mainMenus p{
    color:#6b6b6b;
    margin-top:3px;
    margin-left:5px;
}

.liste{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.elements{
    width:300px;
    height:50px;
    border-radius:4vmin 4vmin 4vmin 4vmin;
    box-shadow: 1px 0.5px 5px rgb(156, 156, 156);
    background-color:#ffffff;
    padding:5px;
    margin:7px;
    line-height:0em;
}

.description{
    display:flex;
    justify-content: space-between;
}

.tarifs{
    font-weight:bold;
    color:#303030;
}

.sectionMenus{
    background-color:#f6f6f6;
    text-align:center;
    padding-top:20px;
}

.sectionMenus input{
    width:200px;
    height:50px;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius:6vmin 6vmin 6vmin 6vmin;
    box-shadow: 1px 0.5px 5px rgb(156, 156, 156);
    color:#ffffff;
    font-weight: bold;
    margin-top:20px;
    border:none;
}

/************************************************************************/
/************************************************************************/
/************************************************************************/
/***************************** MEDIAS QUERIES ***************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /********************************************************************/






}
    
/************************************************************************/ 
/************************************************************************/       
/* Small devices (landscape phones, less than 768px)*/
@media (min-width:400px) and (max-width: 767.98px) {
/********************************************************************/






}

/************************************************************************/    
/************************************************************************/
/* Medium devices (tablets, less than 892px)*/
@media (min-width:768px) and (max-width: 891.98px) {
/********************************************************************/

    .elements{
        width:600px;
        border-radius:2vmin 2vmin 2vmin 2vmin;
    }

    .titreMenus{
        padding-left:20px;
    }

    .part{
        margin-left:20px;
    }

}

/************************************************************************/    
/************************************************************************/
/* Large devices (desktops, less than 1600px)*/
@media (min-width:892px) and (max-width:1599.98px){

    .desc_menu{
        height:310px;
    }

    .large_screen{
        display:flex;
    }

    .elements{
        width:400px;
        border-radius:2vmin 2vmin 2vmin 2vmin;
        margin-left:50px;
    }
    
    .titreMenus{
        padding-left:20px;
    }
    
    .part{
        margin-left:20px;
    }



}


/************************************************************************/    
/************************************************************************/
/* X-Large devices (large desktops, less than 2400px)*/
@media (min-width:1600px) and (max-width: 2399.98px) {
/********************************************************************/

.desc_menu{
    height:310px;
}

.large_screen{
    display:flex;
}

.elements{
    width:400px;
    border-radius:2vmin 2vmin 2vmin 2vmin;
    margin-left:50px;
}

.titreMenus{
    padding-left:60px;
}

.part{
    margin-left:60px;
}







} 