@charset "UTF-8";
/********* BODY INDEX ********/
body {
  font-family: 'roboto', sans-serif;
  color: #303030;
  margin: 0 auto;
  max-width: 1950px;
}

a:link {
  text-decoration: none;
  color: #303030;
}

a:visited {
  color: #303030;
}

.logoFont {
  font-family: 'Shrikhand', sans-serif;
}

.bold {
  font-weight: bold;
}

.titlePosition {
  margin-left: 20px;
}

img {
  width: 50px;
  height: 50px;
}

/*********************** HEADER ****************************/
header {
  -webkit-box-shadow: 1px 0.5px 5px #9c9c9c;
          box-shadow: 1px 0.5px 5px #9c9c9c;
  /* à optimiser pour ecrans +1600*/
}

h1 {
  margin: auto;
  padding: 10px;
  text-align: center;
}

/********************** FOOTER *************************/
footer {
  background-color: #353535;
  /*background-color:#353535;*/
}

.footer__links {
  color: #ffffff;
  /*color:#ffffff;*/
  padding: 15px;
}

.footer__link0102 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer i {
  padding: 5px;
}

/************************ LOCATION *********************/
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  /*background-color:#eaeaea;*/
  text-align: center;
}

.location i {
  width: 30px;
  height: 30px;
  margin-top: 15px;
}

/************************* SUBHEAD ***************************/
.subhead {
  /*background-color:#f6f6f6;*/
  background-color: #f6f6f6;
  text-align: center;
  padding: 40px;
}

.subhead input {
  width: 200px;
  height: 50px;
  /*background: linear-gradient(#FF79DA, #9356DC);*/
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 6vmin 6vmin 6vmin 6vmin;
  -webkit-box-shadow: 1px 0.5px 5px #9c9c9c;
          box-shadow: 1px 0.5px 5px #9c9c9c;
  color: #ffffff;
  font-weight: bold;
  margin-top: 20px;
  border: none;
}

.subhead input:hover {
  background: #782cd3;
  cursor: pointer;
}

/************************* MAIN ***********************/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
}

.allfilters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  padding-bottom: 60px;
}

.filters {
  width: 300px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  -webkit-box-shadow: 1px 5px 10px #d8d8d8;
          box-shadow: 1px 5px 10px #d8d8d8;
  border-radius: 6vmin 6vmin 6vmin 6vmin;
  border: none;
  /*&:hover + .number{
        background:lighten($SecondaryColor, 10);
    }*/
}

.filters:hover {
  background: #fface8;
}

.filters h5 {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: #9356DC;
  color: #ffffff;
  border-radius: 50%;
  padding: 5px;
  margin-left: -10px;
  margin-right: 10px;
  text-align: center;
}

.filters i {
  padding: 20px;
}

/************************* SECTION **********************/
.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f6f6f6;
  /*background-color:$ThirdBackgroundColor;*/
  padding-top: 40px;
  padding-bottom: 40px;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  height: 250px;
  border-radius: 3vmin 3vmin 3vmin 3vmin;
  -webkit-box-shadow: 1px 0.5px 5px #9c9c9c;
          box-shadow: 1px 0.5px 5px #9c9c9c;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 0em;
  overflow: hidden;
}

.results img {
  width: 320px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}

.infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
}

.likeMenus {
  padding-left: 20px;
}

/*
.results i{
    padding:15px;
    color:$FourthColor;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #303030;
   &:hover{
        -webkit-text-stroke-color:$PrimaryColor;
        color:$PrimaryColor;
    }
    &:focus{
        -webkit-text-stroke-color: $PrimaryColor;
        color:$PrimaryColor;
    }
    &:active{
        -webkit-text-stroke-color: $PrimaryColor;
        color:$PrimaryColor;
    }
}*/
.results h4, p {
  margin-left: 10px;
}

.news {
  position: absolute;
  padding-left: 180px;
  padding-top: 10px;
}

.results h6 {
  background-color: #99E2D0;
  color: #1b6150;
  width: 45px;
  padding: 10px;
  margin-left: 65px;
  margin-top: 15px;
}

.results h6:hover {
  background: #4acbab;
  color: white;
}

/******************** HEADER UPDATE *******************/
.header__update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.retour {
  margin-left: 30px;
}

.logoFont02 {
  font-family: 'Shrikhand', sans-serif;
  padding-right: 50px;
}

/****************************** MENUS ******************************/
/************************** MENUS IMAGES **************************/
.img_menu {
  position: relative;
  width: 100%;
  height: 250px;
  z-index: 1;
  overflow: hidden;
}

.img_menu img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.desc_menu {
  position: relative;
  top: -70px;
  bottom: 200px;
  width: 100%;
  z-index: 2;
  border-radius: 10vmin 10vmin 0vmin 0vmin;
  background-color: #f6f6f6;
}

/********************* MENUS RESTAURANT *****************/
.mainMenus {
  background-color: #f6f6f6;
}

.titleRestaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: 40px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
}

/*
.titleRestaurant i{
    padding-top:25px;
    margin-right:50px;
    color:$FourthColor;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #303030;
    &:hover{
        -webkit-text-stroke-color:$PrimaryColor;
        color:$PrimaryColor;
    }
}*/
/********************** Checkbox coeur *************/
.btn_like {
  font-size: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.btn_like .like {
  display: none;
}

.btn_like .like + label::before {
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 400;
  font-size: 20px;
  background: #f6f6f6;
}

.btn_like .like:checked + label::before {
  font-family: "Font Awesome 5 free";
  content: "";
  font-weight: 900;
  color: transparent;
  background: #9356DC;
  -webkit-background-clip: text;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/************************************/
.positionGnl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px 0 20px;
}

.position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 0 10px;
}

.position h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 25px;
  border: solid;
  border-color: #99E2D0;
  color: #6b6b6b;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 20px;
  margin-top: 30px;
  margin-right: 280px;
}

/* margin-top:-10px;
    white-space: nowrap;
    overflow: hidden;

.text h4{
    margin-top:10px;
}
.text p, h4{
    width:210px;
    margin-left:10px;
}*/
.categories_choix {
  width: 360px;
  cursor: pointer;
  margin-left: 60px;
}

.choix_title, .choix_description {
  margin: 0;
}

.choix_description {
  margin-top: 5px;
}

.Text {
  width: 80%;
  margin: 10px;
  white-space: nowrap;
  overflow: visible;
  font-size: 0.9em;
}

/*.prixAnim{
    display:flex;
    align-items: center;
    background-color: white;
    float: right;
}*/
.tarifs {
  height: 30px;
  font-weight: bold;
  margin-left: -1px;
  margin-top: 14px;
  margin-bottom: 10px;
  padding-right: 5px;
}

.Check {
  /*check*/
  background-color: #99E2D0;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 58px;
  margin-left: 5px;
}

.choix_check {
  display: none;
}

.choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 58px;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 15px;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}

.elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f6f6f6;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

/*.validate i{
    font-weight: 900;
    color: $FourthColor;
    margin-top:20px;
}

.checkedcolor{
    color:$PrimaryColor;
}*/
.Animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  float: right;
  padding: 0 0.15em;
}

.Animation i {
  font-weight: 900;
  color: #ffffff;
  padding: 0 0.15em;
}

/*************** animation choix du plat ***********/
.elements .choix_check:checked + .choix + .plat_content .Animation {
  -webkit-transform: translate(5%, 0);
          transform: translate(5%, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 60%;
}

.elements .choix_check:checked + .choix + .plat_content .Animation i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.elements .choix_check + .choix + .plat_content .Animation {
  -webkit-transform: translate(60%, 0);
          transform: translate(60%, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  margin-left: 62%;
}

.elements .choix_check + .choix + .plat_content .Animation i {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.elements .choix_check:checked + .choix + .plat_content .Text {
  -webkit-animation: ellipsis;
          animation: ellipsis;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes ellipsis {
  from {
    white-space: nowrap;
  }
  to {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@keyframes ellipsis {
  from {
    white-space: nowrap;
  }
  to {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.elements .plat_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin-right: 10px;
  height: 58px;
  border-radius: 20px;
  background-color: #fff;
  border-radius: 2vmin 2vmin 2vmin 2vmin;
  -webkit-box-shadow: 1px 0.5px 5px #9c9c9c;
          box-shadow: 1px 0.5px 5px #9c9c9c;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
}

/********************* check animation menu ***************/
/*.position label {
    display:inline-block;
    justify-content:center;
    align-items:center;
    width:20px;
    height:20px;
    background-color:$FourthColor;
    border-radius:90%;
    color:$ThirdColor;
    margin-top:20px;
    cursor: pointer;
    position: absolute;
  }

.position label:before {
    content:'✓';
    border:solid;
    border-radius:50%;
    padding: 0 0.15em;

}
.position input:checked + label {
    color:$PrimaryColor;

}
.position input:checked + label:before {
    content:'✓';
    background-color:$ThirdColor;
}

/* hide checkbox '✗'*/
/*********************** SECTION MENUS ********************/
.sectionMenus {
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sectionMenus input {
  width: 200px;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 6vmin 6vmin 6vmin 6vmin;
  -webkit-box-shadow: 1px 0.5px 5px #9c9c9c;
          box-shadow: 1px 0.5px 5px #9c9c9c;
  color: #ffffff;
  font-weight: bold;
  margin-top: 20px;
  border: none;
}

.sectionMenus input:hover {
  background: #782cd3;
}

@-webkit-keyframes animationElements {
  0% {
    opacity: 0;
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animationElements {
  0% {
    opacity: 0;
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.elements01 {
  -webkit-animation: animationElements 2500ms -850ms;
          animation: animationElements 2500ms -850ms;
}

.elements02 {
  -webkit-animation: animationElements 2500ms -750ms;
          animation: animationElements 2500ms -750ms;
}

.elements03 {
  -webkit-animation: animationElements 2500ms -650ms;
          animation: animationElements 2500ms -650ms;
}

.elements04 {
  -webkit-animation: animationElements 2500ms -550ms;
          animation: animationElements 2500ms -550ms;
}

.elements05 {
  -webkit-animation: animationElements 2500ms -450ms;
          animation: animationElements 2500ms -450ms;
}

.elements06 {
  -webkit-animation: animationElements 2500ms -350ms;
          animation: animationElements 2500ms -350ms;
}

.elements07 {
  -webkit-animation: animationElements 2500ms -250ms;
          animation: animationElements 2500ms -250ms;
}

.elements08 {
  -webkit-animation: animationElements 2500ms -150ms;
          animation: animationElements 2500ms -150ms;
}

.elements09 {
  -webkit-animation: animationElements 2500ms -50ms;
          animation: animationElements 2500ms -50ms;
}

/*.elements{
    &:hover{
        .text {
          
        }
        .tarifs {
          transform:translateX(-100%);
          transition: 0.5s;
        }
        .validate{
         transform:translateX(-100%);
         transition: 0.5s;
        }
        .rotate{
         transform: rotate(360deg);
         transition: transform 700ms ease-in-out;
        }
      }

      .elements .validate .choix_check:checked + .choix{
        transform:translateX(-100%);
        transition: 0.5s;
      }

      .elements .validate .choix_check + .choix{
        transform: translate(100%, 0);
        transition: 0.5s;
      }

      .validate .choix_check:checked + .choix + .Text{
      animation: ellipsis;
      animation-delay: 0.3s;
      animation-fill-mode: both;
      }

}*/
/***************************************************************/
/*-----effet à la sélection d'une assiette
.plat .choix_check:checked + .choix + .plat_content .animation{
  transform: translate(5%, 0);
  transition: 0.5s;
  i{
      transform: rotate(0deg);
      transition: 1.5s;
  }
}
.plat .choix_check + .choix + .plat_content .animation{
  transform: translate(60%, 0);
  transition: 0.5s;
  i{
      transform: rotate(360deg);
      transition: 1.5s;
  }
}
.plat .choix_check:checked + .choix + .plat_content .choix_content{
  .choix_description, .choix_title{
      animation: ellipsis;
      animation-delay: 0.3s;
      animation-fill-mode: both;
      
  }
  @keyframes ellipsis{
      from{
          white-space: nowrap; 
      }
      to{
          white-space: nowrap; 
          overflow: hidden;
          text-overflow: ellipsis;
      }
  }
}-----*/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/***************************** MEDIAS QUERIES ***************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/* Small devices (landscape phones, less than 768px)*/
@media (min-width: 400px) and (max-width: 767.98px) {
  /********************************************************************/
  .responsive_update {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .Text {
    width: 80%;
  }
  .choix_description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .elements .choix_check + .choix + .plat_content .Animation {
    -webkit-transform: translate(60%, 0);
            transform: translate(60%, 0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    margin-left: 62%;
  }
  .elements .choix_check:checked + .choix + .plat_content .choix_content {
    width: 60%;
  }
}

/************************************************************************/
/************************************************************************/
/* Medium devices (tablets, less than 892px)*/
@media (min-width: 768px) and (max-width: 891.98px) {
  /********************************************************************/
  .responsive_update {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /********************************************************************/
  .position h5 {
    margin-right: 570px;
  }
  .categories {
    width: 50%;
  }
  .categories_choix {
    margin-left: 10px;
  }
  .elements .plat_content {
    width: 45%;
  }
  .Text {
    width: 60%;
  }
  .tarifs {
    padding-right: 10px;
  }
  .Check {
    margin-left: 15px;
  }
}

/************************************************************************/
/************************************************************************/
/* Large devices (desktops, less than 1600px)*/
@media (min-width: 892px) and (max-width: 1599.98px) {
  /**********************************************************************/
  .allfilters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .responsive_update {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .positionGnl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .titleRestaurant {
    width: 95%;
  }
  .Text {
    width: 45%;
  }
  .Check {
    height: 62px;
  }
  .categories {
    width: 25%;
  }
  .elements .plat_content {
    width: 25%;
  }
  .elements .choix_check + .choix + .plat_content .Animation {
    margin-left: 204px;
  }
  .elements .choix_check:checked + .choix + .plat_content .Animation {
    width: 25%;
  }
}

/************************************************************************/
/************************************************************************/
/* X-Large devices (large desktops, less than 2400px)*/
@media (min-width: 1600px) {
  /********************************************************************/
  .allfilters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .responsive_update {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /********************************************************************/
  .positionGnl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .categories {
    width: 20%;
  }
  .elements .plat_content {
    width: 20%;
  }
  .elements .choix_check + .choix + .plat_content .Animation {
    margin-left: 268px;
  }
  /*
    .titleRestaurant{
        width:1600px;
        padding-left:150px;
    }*/
}
/*# sourceMappingURL=styles.css.map */