@charset "UTF-8";
@-webkit-keyframes loader {
  0% {
    opacity: 1;
    z-index: 1000;
  }
  75% {
    opacity: 1;
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    z-index: 1000;
  }
  75% {
    opacity: 1;
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}

.loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #9356DC;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation: loader 2s;
          animation: loader 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 1;
  cursor: wait;
}

.container {
  height: 15px;
  width: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.container .circleLoading {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #99E2D0;
  -webkit-animation: move 500ms linear 0ms infinite;
          animation: move 500ms linear 0ms infinite;
  margin-right: 30px;
}

.container .circleLoading:first-child {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: grow 500ms linear 0ms infinite;
          animation: grow 500ms linear 0ms infinite;
}

.container .circleLoading:last-child {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  animation: grow 500ms linear 0s infinite reverse;
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes grow {
  from {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(45px);
            transform: translateX(45px);
  }
}

@keyframes move {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(45px);
            transform: translateX(45px);
  }
}

/********* BODY INDEX ********/
body {
  font-family: 'roboto', sans-serif;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #303030;
}

a:link {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

.logoFont {
  font-family: 'Shrikhand', sans-serif;
}

#logoFontFooter {
  font-family: 'Shrikhand', sans-serif;
  font-size: 1.5em;
  color: #ffffff;
}

.bold {
  font-weight: bold;
}

.titlePosition {
  margin-left: 20px;
}

/*********************** HEADER ****************************/
header {
  -webkit-box-shadow: 1px 0.5px 5px #9c9c9c;
          box-shadow: 1px 0.5px 5px #9c9c9c;
}

h1 {
  margin: auto;
  padding: 10px;
  text-align: center;
}

/********************** FOOTER *************************/
footer {
  background-color: #353535;
}

.footer__links {
  color: #ffffff;
  line-height: 2.5em;
  padding: 15px;
}

.footer__link0102 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer i {
  padding: 5px;
}

/************************ LOCATION *********************/
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  text-align: center;
}

.location i {
  width: 30px;
  height: 30px;
  margin-left: 50px;
  margin-top: 15px;
}

.location input {
  background-color: #eaeaea;
  border: none;
  font-size: 1em;
  font-weight: bold;
}

/************************* SUBHEAD ***************************/
.subhead {
  background-color: #f6f6f6;
  text-align: center;
  padding: 40px;
}

.subhead input {
  width: 200px;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 6vmin 6vmin 6vmin 6vmin;
  -webkit-box-shadow: 1px 0.5px 5px #9c9c9c;
          box-shadow: 1px 0.5px 5px #9c9c9c;
  color: #ffffff;
  font-weight: bold;
  margin-top: 20px;
  border: none;
}

.subhead input:hover {
  background: #c9abee;
  -webkit-box-shadow: 1px 0.5px 10px #9c9c9c;
          box-shadow: 1px 0.5px 10px #9c9c9c;
  cursor: pointer;
}

/************************* MAIN ***********************/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
}

.allfilters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  padding-bottom: 60px;
}

.filters {
  width: 300px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  -webkit-box-shadow: 1px 5px 10px #d8d8d8;
          box-shadow: 1px 5px 10px #d8d8d8;
  border-radius: 6vmin 6vmin 6vmin 6vmin;
  border: none;
}

.filters:hover {
  background: #f2eafb;
}

.filters:hover i {
  color: #6023a9;
}

.filters h4 {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: #9356DC;
  color: #ffffff;
  border-radius: 50%;
  padding: 5px;
  margin-left: -10px;
  margin-right: 10px;
  text-align: center;
}

.filters i {
  padding: 20px;
}

/************************* SECTION **********************/
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f6f6f6;
  padding-top: 40px;
  padding-bottom: 40px;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  height: 250px;
  border-radius: 3vmin 3vmin 3vmin 3vmin;
  -webkit-box-shadow: 1px 0.5px 5px #9c9c9c;
          box-shadow: 1px 0.5px 5px #9c9c9c;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 0em;
  overflow: hidden;
}

.results img {
  width: 320px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}

.infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
}

.likeMenus {
  padding-left: 20px;
}

.results p {
  margin-left: 10px;
}

.results h2 {
  font-size: 1.1em;
  margin-left: 10px;
  margin-top: 20px;
}

.news {
  position: absolute;
  padding-left: 180px;
  padding-top: 10px;
  font-size: 0.6em;
}

.results h3 {
  background-color: #99E2D0;
  color: #1b6150;
  width: 45px;
  padding: 10px;
  margin-left: 65px;
  margin-top: 15px;
}

.results h3:hover {
  background: #4acbab;
  color: white;
}

@keyframes loader {
  0% {
    opacity: 1;
    z-index: 1000;
  }
  75% {
    opacity: 1;
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}

.loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #9356DC;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation: loader 2s;
          animation: loader 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 1;
  cursor: wait;
}

.container {
  height: 15px;
  width: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.container .circleLoading {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #99E2D0;
  -webkit-animation: move 500ms linear 0ms infinite;
          animation: move 500ms linear 0ms infinite;
  margin-right: 30px;
}

.container .circleLoading:first-child {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: grow 500ms linear 0ms infinite;
          animation: grow 500ms linear 0ms infinite;
}

.container .circleLoading:last-child {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  animation: grow 500ms linear 0s infinite reverse;
}

@keyframes grow {
  from {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes move {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(45px);
            transform: translateX(45px);
  }
}

/******************** HEADER UPDATE *******************/
.header__update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.retour {
  margin-left: 30px;
}

.black {
  color: #000000;
}

.logoFont02 {
  font-family: 'Shrikhand', sans-serif;
  padding-right: 50px;
}

/****************************** MENUS ******************************/
body {
  width: auto;
  margin: 0;
}

/************************** MENUS IMAGES **************************/
.img_menu {
  position: relative;
  width: 100%;
  height: 250px;
  z-index: 1;
  overflow: hidden;
}

.img_menu img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.desc_menu {
  position: relative;
  top: -70px;
  bottom: 200px;
  width: 100%;
  z-index: 2;
  border-radius: 10vmin 10vmin 0vmin 0vmin;
  background-color: #f6f6f6;
}

/********************* MENUS RESTAURANT *****************/
.mainMenus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
}

.titleRestaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
}

/********************** Checkbox coeur *************/
.btn_like {
  font-size: 20px;
  margin-right: 20px;
  margin-top: 25px;
}

.btn_like .like {
  display: none;
}

.btn_like .like + label::before {
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 400;
  font-size: 20px;
  background: #f6f6f6;
}

.btn_like .like:checked + label::before {
  font-family: "Font Awesome 5 free";
  content: "";
  font-weight: 900;
  color: transparent;
  background: linear-gradient(10deg, #FF79DA, 40%, #9356DC);
  -webkit-background-clip: text;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/************************************/
.menu_restaurant {
  width: 100%;
  margin-top: -10px;
  padding: 0;
}

.restaurant_categories {
  padding: 0 10px 0 10px;
}

.categories {
  padding: 0 10px 0 10px;
}

.categorie_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 25px;
  border: solid;
  border-color: #99E2D0;
  color: #6b6b6b;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 0.8em;
}

.choix_title, .choix_description {
  margin: 0;
}

.choix_content {
  margin: 10px;
  font-size: 0.8em;
  white-space: nowrap;
  overflow: visible;
  width: 50%;
}

.tarifs {
  height: 30px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

.check {
  background-color: #99E2D0;
  width: 58px;
  height: 58px;
  text-align: center;
  line-height: 58px;
  margin-left: 20px;
}

.choix_description {
  margin-top: 7px;
  font-weight: 50;
}

.choix_check {
  display: none;
}

.choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 58px;
  border-radius: 2vmin 2vmin 2vmin 2vmin;
  -webkit-box-shadow: 1px 0.5px 5px #9c9c9c;
          box-shadow: 1px 0.5px 5px #9c9c9c;
  background-color: #ffffff;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}

.plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  float: right;
}

.animation i {
  color: #ffffff;
  padding: 0 0.15em;
}

/******* Effets lors de la sélection d'un plat ******/
.plat .choix_check:checked + .choix + .plat_content .animation {
  -webkit-transform: translate(5%, 0);
          transform: translate(5%, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.plat .choix_check:checked + .choix + .plat_content .animation i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.plat .choix_check + .choix + .plat_content .animation {
  -webkit-transform: translate(60%, 0);
          transform: translate(60%, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.plat .choix_check + .choix + .plat_content .animation i {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.plat .choix_check:checked + .choix + .plat_content .choix_content .choix_description, .plat .choix_check:checked + .choix + .plat_content .choix_content .choix_title {
  -webkit-animation: ellipsis;
          animation: ellipsis;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes ellipsis {
  from {
    white-space: nowrap;
  }
  to {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@keyframes ellipsis {
  from {
    white-space: nowrap;
  }
  to {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/*******************************************/
.plat .plat_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin-right: 10px;
  height: 58px;
  border-radius: 2vmin 2vmin 2vmin 2vmin;
  -webkit-box-shadow: 1px 0.5px 5px #9c9c9c;
          box-shadow: 1px 0.5px 5px #9c9c9c;
  background-color: #ffffff;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
}

/*********************** SECTION MENUS ********************/
.section_commander {
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section_commander input {
  width: 200px;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 6vmin 6vmin 6vmin 6vmin;
  -webkit-box-shadow: 1px 0.5px 5px #9c9c9c;
          box-shadow: 1px 0.5px 5px #9c9c9c;
  color: #ffffff;
  font-weight: bold;
  margin-top: 20px;
  border: none;
}

.section_commander input:hover {
  background: #c9abee;
  -webkit-box-shadow: 1px 0.5px 10px #9c9c9c;
          box-shadow: 1px 0.5px 10px #9c9c9c;
  cursor: pointer;
}

/************************************************************************/
/************************************************************************/
/************************************************************************/
/***************************** MEDIAS QUERIES ***************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/* Small devices (landscape phones, less than 768px)*/
@media (min-width: 400px) and (max-width: 767.98px) {
  /********************************************************************/
  .responsive_update {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /*************************************************************/
}

/************************************************************************/
/************************************************************************/
/* Medium devices (tablets, less than 892px)*/
@media (min-width: 768px) and (max-width: 891.98px) {
  /********************************************************************/
  .responsive_update {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /********************************************************************/
  .titleRestaurant {
    width: 92%;
    margin-left: 10px;
  }
}

/************************************************************************/
/************************************************************************/
/* Large devices (desktops, less than 1600px)*/
@media (min-width: 892px) and (max-width: 1599.98px) {
  /**********************************************************************/
  .allfilters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .responsive_update {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /*************************************************************/
  .titleRestaurant {
    width: 97%;
    margin-left: 20px;
  }
  .restaurant_categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .categories {
    width: 30%;
    margin: 0 auto;
  }
  .plat .plat_content {
    width: 30%;
  }
}

/************************************************************************/
/************************************************************************/
/* X-Large devices (large desktops, less than 2400px)*/
@media (min-width: 1600px) {
  /********************************************************************/
  .allfilters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .responsive_update {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /********************************************************************/
  .titleRestaurant {
    width: 97%;
    margin-left: 35px;
  }
  .restaurant_categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .categories {
    width: 30%;
    margin: 0 auto;
    padding: 0 10px 0 10px;
  }
  .plat .plat_content {
    width: 30%;
  }
}

.plat {
  -webkit-animation: animationElements 500ms ease-in-out;
          animation: animationElements 500ms ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.element01 {
  -webkit-animation: animationElements 0.5s;
          animation: animationElements 0.5s;
}

.element02 {
  -webkit-animation: animationElements 1s;
          animation: animationElements 1s;
}

.element03 {
  -webkit-animation: animationElements 1.5s;
          animation: animationElements 1.5s;
}

.element04 {
  -webkit-animation: animationElements 2s;
          animation: animationElements 2s;
}

@-webkit-keyframes animationElements {
  0% {
    opacity: 0;
    translate: transformY(9px);
  }
  25% {
    opacity: 0;
    translate: transform(9px);
  }
  50% {
    opacity: 1;
    translate: transformY(0);
  }
  75% {
    opacity: 1;
    translate: transformY(0);
  }
  100% {
    opacity: 1;
    translate: transformY(0);
  }
}

@keyframes animationElements {
  0% {
    opacity: 0;
    translate: transformY(9px);
  }
  25% {
    opacity: 0;
    translate: transform(9px);
  }
  50% {
    opacity: 1;
    translate: transformY(0);
  }
  75% {
    opacity: 1;
    translate: transformY(0);
  }
  100% {
    opacity: 1;
    translate: transformY(0);
  }
}
/*# sourceMappingURL=styles.css.map */