@keyframes animationElements{
  
    0%{
        opacity:0%;
        transform: translateY(9px);
      }
     
      100%{
        opacity:100%;
        transform: translateX(0);
      }
  }

  .elements {
    animation:animationElements 500ms ease-in-out 150ms;
    animation-fill-mode:both; 
    &:hover{
      .validate{
       transform:scaleX(1);
      }
      .rotate{
       transform: rotate(360deg);
       transition: transform 700ms ease-in-out;
      }
    } 
  }

  .elements01{
    animation:animationElements 1500ms 150ms;
  }
  
  .elements02{
    animation:animationElements 1500ms 250ms;
  }
  
  .elements03{
    animation:animationElements 1500ms 350ms;
  }

  .elements04{
    animation:animationElements 1500ms 450ms;
  }
  
  .elements05{
    animation:animationElements 1500ms 550ms;
  }
  
  .elements06{
    animation:animationElements 1500ms 650ms;
  }
    
  .elements07{
    animation:animationElements 1500ms 750ms;
  }
  
  .elements08{
    animation:animationElements 1500ms 850ms;
  }
  
  .elements09{
    animation:animationElements 1500ms 950ms;
  }