$PrimaryColor:#9356DC;
$SecondaryColor:#FF79DA;
$ThirdColor:#99E2D0;
$FourthColor:#ffffff;
$BasicColor:#6b6b6b;

$PrimaryBackgroundColor:#ffffff;
$SecondaryBackgroundColor:#eaeaea;
$ThirdBackgroundColor:#f6f6f6;
$FourthBackgroundColor:#353535;

